.window
  width auto
  margin 0 auto
  padding 15px
  background-color gold

.window__h1
  margin 0
  padding 0
  text-align center
  font-family Arial

.window__game
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 15px 0

.window__controller
  display flex
  justify-content center

.window__input
  width 55px

.window__row
  display block
  margin 0px

.window__cell
  display inline-block
  width 20px
  height 20px
  margin 0px 2px
  background-color black
  border-radius 2px
  cursor pointer

.window__cell_enable
  background-color white
